.details {
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 8px;
}

.attempts-display {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-bottom: 32px;
}